
body{
    margin: 0px;
   
}
.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
  
}
.barralateral{
    width: 25%;
    border-bottom: 1px solid grey;
 

}
.contenido{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-left: 1px solid grey;
    padding: 40px;
}
.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: opx;
    border-bottom: 1px solid gray;
}

.newchat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid grey;
}
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;
}