
body{
    margin: 0px;
  
}
.container{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  
}
.barralateral{
    width: 25%;
    border-right: 1px solid grey;
 

}
.contenido{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-left: 1px solid grey;
    padding: 40px;
}
.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
}

.newchat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}
button{
    padding: 17px 70px;
    border: 1px solid lavender;
    color: white;
}
.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.colega{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom:  1px solid grey;
}